body{

    margin:0;
    font-family:Arial;
    background:#f2f2f2;

}



header{

    background:green;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}



.products{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;

    margin:40px;

}



.card{

    background:white;
    width:220px;
    padding:20px;
    text-align:center;

    border-radius:15px;

    box-shadow:0 0 10px gray;

}



button{

    background:blue;
    color:white;

    border:none;
    padding:10px 20px;

    cursor:pointer;

    border-radius:5px;

}



button:hover{

    background:darkblue;

}



.title{

    text-align:center;

}



#cart{

    background:white;

    width:500px;

    margin:auto;

    padding:20px;

    border-radius:10px;

}



.cartItem{

    padding:10px;

    border-bottom:1px solid gray;

}



.total{

    text-align:center;

}